<!--
    index.html

    The homepage for my website

    Author: Chris Wolf
    Version: 1.0.0 (May 29, 2019)
    Contact: chriswolfdesign@gmail.com
-->
{% extends "layout.html" %}

<html>
    <head>
        <title>Chris Wolf Design</title>

        <!-- MY CSS -->
        {% block style %}
            <link href="../static/styles/index.css" rel="stylesheet"/>
        {% endblock %}
    </head>
    <body>
        {% block body %}
        <div id="intro" class="text-center">
            <h1>Welcome to Chris Wolf Design</h1>
        </div>
        {% endblock %}
    </body>
</html>
